@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(25%);
    }
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.welcome-heading {
    animation: slideIn 4s infinite;
}

.about-me {
    background-color: rgb(245, 244, 241);
    text-align: center;
    margin: 50px 0;
}

.about-me img {
    /* background-color: aqua; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-me h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 1.2em;
}

.about-me a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}




/* <!-- Subtle Footer Mention----------------------------- --> */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

/* <!-- img ----------------------------- --> */

.pic:hover {

    /* background-color: aqua; */
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-bottom: 20px;
        /* background-image: url(img/O.jpg); */

    }
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* <!-- landing page ----------------------------- --> */



:root {
    --bs-body-color: rgb(60, 60, 242);
    --bs-heading-color: rgb(60, 60, 242);
    --bs-secondary-color: rgb(60, 60, 242);
    /* --primary-color: #007bff;
    --secondary-color: #6c757d;
    --dark-color: #343a40;
    --light-color: #f8f9fa; */
}

body .dog {
    background: #d7e4f9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--bs-body-color);
}

.landing-page {
    /* background-image: url(../img/landing.jpg); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.landing-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--bs-heading-color);
}